/*-----------------SEKCIJA ZA NAVBAR-----------------------*/
nav{
  background-color: #3b3b3b;
}

ul li a{
  margin-right: 10px;
}

nav li a{
  color: white !important;
}

nav li a:hover{
  color: #4287f5 !important;
}

nav i {
  margin-right: 5px;
}

.navbar .navbar-brand img{
  max-height: 30px !important;
}

.dropdown-menu{
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-menu li a{
  color: black !important;
}

.dropdown-menu li a:hover{
  color:white !important;
  background-color: #4287f5;
}

.dropdown:hover .dropdown-menu{
  display:block;
}

.dropdown-divider{
  margin-top: 0px;
  margin-bottom: 0px;
}

.dropdown-item{
  padding-top: 7px;
  padding-bottom: 7px;
}

p.dropdown-item{
  margin-bottom: 0px;
}

.navbar-nav{
  align-items: center;
}

.nav-item{
  text-align: center;
}

.navbar-toggler {
  border:none;
  background-color: #4287f5;
}

.profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar{
  align-self: center;
}

/*----------------------------------------------------------*/
/* --------------------SEKCIJA ZA PRIJAVU/REGISTRACIJU KORISNIKA -----------------------------------------*/
#registracija{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(AllPictures/Register.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}

/*Natpis na stranici */
#registracija h1{
  text-align: center;
  color: white !important;
}

/* Container u kojem se nalazi Forma i gumbovi Prijava/Registracija*/
.container_form{
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  border: 1px solid white;
}

/* Klasa za smjestanje formi u Container */
.form_edit{
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
}
 /* GUMBOVI ZA PRIJAVA/REGISTRACIJA */

.signbutt{
  border: none;
  border-radius: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  box-shadow: none !important;
}

.signbutt:hover{
  color: #4287f5;
}

.signbutt_active{
  border-bottom : 2px solid #4287f5;
  color : white;
}

.signbutt_pasive{
  border-bottom : 2px solid white;
  color : black;
}

/* REGISTER/LOGIN FORMA inputi */

#registracija .form-control, #kontakt .form-control, #lokaliteti .form-control, #uroni .form-control, #ekoakcije .form-control{                /*inputi forme */
  color: white !important;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
}

#lokaliteti .form-control{
  color: black !important;
  border: 1px solid #000;
  border-radius: 10px;
}

#lokaliteti ::-webkit-input-placeholder { /* Edge */
  color:black !important;
}

#lokaliteti :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black !important;
}

#lokaliteti input::placeholder{
  color: black !important;
}

#registracija ::-webkit-input-placeholder, #kontakt ::-webkit-input-placeholder, #uroni ::-webkit-input-placeholder, #ekoakcije ::-webkit-input-placeholder{ /* Edge */
  color: white !important;
}

#registracija :-ms-input-placeholder , #kontakt :-ms-input-placeholder, #uroni :-ms-input-placeholder, #ekoakcije :-ms-input-placeholder{ /* Internet Explorer 10-11 */
  color: white !important;
}

#registracija input::placeholder , #kontakt input::placeholder, #uroni input::placeholder,  #ekoakcije input::placeholder{
  color: white !important;
}

#registracija .form-control:focus , #kontakt .form-control:focus, #uroni .form-control:focus, #ekoakcije .form-control:focus{
  color: white !important;
  background-color: rgba(0,0,0,0.188);
  border: 1px solid #4287f5;
  box-shadow: 3px 3px 20px #4287f5;
}

#lokaliteti .form-control:focus{
  color: black !important;
  border: 1px solid #4287f5;
}

#registracija .submit , #kontakt .submit, #ron_klubovi .submit, #uroni .submit, #ekoakcije .submit, #rezultati .submit{              /* gumbovi za submit formi */
  color: white;
  border-color: white;
  margin:auto;
  display:block;
}

#lokaliteti .submit{
  color: black;
  border-color: black;
  margin:auto;
  display:block;
}

#uroni .openform, #ekoakcije .openform{
  color: black;
  border-color: black;
  margin:auto;
  display:block;
}

#registracija  .submit:hover , #kontakt .submit:hover, #lokaliteti .submit:hover, #ron_klubovi .submit:hover, #uroni .submit:hover, #uroni .openform:hover,#ekoakcije .submit:hover, #ekoakcije .openform:hover, #rezultati .submit:hover {
  background-color: #4287f5;
  color: white;
}

.is-invalid{                      /* klasa za pogreske prilikom registracije */
  border-color: red !important;
}

.invalid-feedback{              /* klasa za ispis pogreske */
  font-size: 15px;
  color: red;
  text-align: left;
  padding-left: 10px;
}

.form-control.is-invalid{
    background-image: none;
    box-shadow: none !important;
}

#licenca option{
  background: black !important;
}

#profileDisplay{    /*slika profila*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*-----------------------------------------------------------------------------------------------*/
/*------------------------KONTAKT STRANICA ------------------------------------------------------*/
#kontakt{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(AllPictures/Contact.jpg);
  background-size: cover;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}

.alert{
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

/*----------------------------------------------------------------------------------------------*/
/*------------------------NASLOVNA STRANICA ----------------------------------------------------*/
/*Slideshow section */
@media (min-width: 900px) {
  .carousel-item img{
    height: 100vh;
  }
}

.carousel-caption h1{
  font-size: 50px;
  color: white;
  font-family: 'Apple Chancery' ,cursive;
}

/*Service section */
#services{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(AllPictures/Services.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#services h1{
  text-align: center;
  color: white !important;
  margin-bottom: 20px;
}

#services h1::after{
  content: '';
  background: white;
  display: block;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}

.services{
  margin-top: 40px;
}

.circle-icon{
   display: block;
  font-size: 25px; /* velicina malih ikonica */
  margin: 20px auto;
  height: 65px;
  width: 65px;
  border: 3px solid #fff;
  border-radius: 50%;
  line-height: 50px;
}

.imgicon{
  width: 40px;
  height: 40px;
  margin: auto;
}

#services p{
  font-size: 20px;
  color: #ccc;
}

.services .col-md-4:hover{
  background-color: #4287f5;
  cursor: pointer;
  transition: 0.7s;
}

/*----------------------------------------------------------------------------------------------*/
/*----------------------------------KLUBOVI-----------------------------------------------------*/
#ron_klubovi{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(AllPictures/Clubs.jpg);
  background-size: cover;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}

.table-info > th{
  background-color: #4287f5;
}

.btngreen{
  color: white;
  border-color: white;
  margin-left: 30px;
  background-color: green;
}

.btnred{
  color: white;
  border-color: white;
  background-color: red;
}

.btnoker{
  color: white;
  border-color: white;
  margin-left: 30px;
  background-color: #f5b642;
}
.btngreen:hover , .btnred:hover{
  background-color: transparent;
  color: white;
}

.club-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Lokaliteti-------------------------------------------------*/
#lokaliteti{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(AllPictures/Locality.jpg);
  background-size: cover;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}

#map{
  height: 400px;
  width: 100%;
}

.descriptiontext{
  color:black;
  padding:10px 10px 10px 10px;
  margin-bottom:0px;
  font-size: 14px !important;
}

.comment_box{
  border:1px solid black;
  border-radius:20px;
  background-color:#4287f5;
  margin-bottom: 10px;
}

.comment_text{
  color: white;
  padding:10px 10px 10px 10px;
  margin-bottom: 0px !important;
}
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------Profile settings--------------------------------------------*/
#postavke{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(AllPictures/ProfileSettings.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}
/*----------------------------------------------------------------------------------------------*/
/*--------------------------------Dive----------------------------------------------------------*/
#uroni{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(AllPictures/Dive.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}

.joineventbutt{
  color: white;
  border-color: white;
  background-color: green;
  margin:auto;
  display:block;
}

.joineventbutt:hover{
  background-color: transparent;
  color: white;
}
/*----------------------------------------------------------------------------------------------*/
/*------------------------------Eco Actions-----------------------------------------------------*/
#ekoakcije{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(AllPictures/EcoActions.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------Rezultati------------------------------------------------------*/
#rezultati{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(AllPictures/Results.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------Media Queries za hedaere i paragrafe---------------------------*/

@media (max-width: 400px) {
 #naslovna h1 {
   font-size: 20px;
}
#naslovna h3{
  font-size: 25px;
}
#naslovna p{
  font-size: 18px !important;
}
#kontakt h1 {
  font-size: 30px;
}
#registracija h1 {
  font-size: 30px;
}
#lokaliteti h1{
  font-size: 30px;
}
}

@media (min-width: 400px) and (max-width: 720px) {
#naslovna h1 {
  font-size: 30px;
}
#lokaliteti h1{
  font-size: 30px;
}
#kontakt h1 {
  font-size: 30px;
}
#registracija h1 {
  font-size: 30px;
}
}

@media (min-width: 720px) and (max-width: 1440px) {
#naslovna h1 {
  font-size: 40px;
}
#lokaliteti h1{
  font-size: 40px;
}
#kontakt h1 {
  font-size: 40px;
}
#registracija h1 {
  font-size: 40px;
}
}

@media (min-width: 1440px) and (max-width: 2000px) {
  #map{
    height: 600px;
  }
}

@media (min-width: 2000px){
  #map{
    height: 100vh;
  }
}

@media (min-width: 1440px){
#naslovna h1 {
  font-size: 45px;
}
}

@media (max-width: 575px){
  #savecommentdiv{
    margin-top: 10px !important;
  }
}

/*----------------------------------------------------------------------------------------------*/
